{% extends 'base.html' %}
{% block content %}


    <div class="container mt-4">
        <h1 class="text-center">Liste des Fournisseurs</h1>
        <div class="text-end mb-3">
            <a href="{% url 'gestion_fournisseur:ajouter_fournisseur' %}" class="btn btn-primary">
                Ajouter un fournisseur:
            </a>
        </div>
        {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>N° RC</th>
                    <th>I_F</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Date Création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for fournisseur in fournisseurs %}
                <tr>
                    <td>{{ fournisseur.idfournisseur }}</td>
                    <td>{{ fournisseur.nom }}</td>
                    <td>{{ fournisseur.prenom }}</td>
                    <td>{{ fournisseur.numrc }}</td>
                    <td>{{ fournisseur.i_f }}</td>
                    <td>{{ fournisseur.email }}</td>
                    <td>{{ fournisseur.tel }}</td>
                    <td>{{ fournisseur.adresse }}</td>
                    <td>{{ fournisseur.date_creation }}</td>
                    <td>
                       
                        <td> 
                            <a href="{% url 'gestion_fournisseur:modifier_fournisseur' fournisseur.idfournisseur %}" 
                               class="btn btn-warning btn-sm">
                                Modifier</a>
                            <a href="{% url 'gestion_fournisseur:supprimer_fournisseur' fournisseur.idfournisseur %}" 
                               class="btn btn-danger btn-sm" 
                               onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce fournisseur ?');">
                                Supprimer</a>
                           
                        </td>
                        
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">Aucun fournisseur trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
<!-- Fenêtre modale pour ajouter un Fournisseur -->
<div class="modal fade" id="addFournisseurModal" tabindex="-1" aria-labelledby="addFournisseurModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="{% url 'gestion_clients:ajouter_client' %}" class="btn btn-primary">
                    Ajouter un fournisseur:
                </a>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulaire -->
                <form method="post" action="{% url 'gestion_fournisseur:ajouter_fournisseur' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom" required>
                        </div>
                        <div class="col-md-6">
                            <label for="prenom" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="numrc" class="form-label">N° RC</label>
                            <input type="text" class="form-control" id="numrc" name="numrc" required>
                        </div>
                        <div class="col-md-6">
                            <label for="i_f" class="form-label">Identifiant fiscal</label>
                            <input type="text" class="form-control" id="i_f" name="i_f" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tel" class="form-label">Téléphone</label>
                            <input type="text" class="form-control" id="tel" name="tel" required>
                        </div>
                        <div class="col-md-6">
                            <label for="tel2" class="form-label">Téléphone 2</label>
                            <input type="text" class="form-control" id="tel2" name="tel2" required>
                        </div>
                        <div class="col-md-6">
                            <label for="fax" class="form-label">Téléphone 2</label>
                            <input type="text" class="form-control" id="fax" name="fax" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="adresse" class="form-label">Adresse</label>
                        <input type="text" class="form-control" id="adresse" name="adresse" required>
                    </div>
                    <div class="mb-3">
                        <label for="ville" class="form-label">Ville</label>
                        <input type="text" class="form-control" id="ville" name="ville" required>
                    </div>
                    <div class="mb-3">
                        <label for="date_creation" class="form-label">Date de création</label>
                        <input type="date" class="form-control" id="date_creation" name="date_creation"
                               value="{{ Fournisseur.date_creation|default:''|date:'Y-m-d' }}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


    <!-- Modal -->
    <div class="modal fade" id="modifierFournisseurModal" tabindex="-1" aria-labelledby="modifierFournisseurModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modifierFournisseurModalLabel">Modifier le Fournisseur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Formulaire de modification du Fournisseur -->
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" name="nom" value="{{ form.nom.value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" value="{{ form.prenom.value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Téléphone</label>
                            <input type="text" class="form-control" id="tel" name="tel1" value="{{ form.tel.Value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel2" class="form-label">Téléphone2</label>
                            <input type="text" class="form-control" id="tel2" name="tel2" value="{{ form.tel2.value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="adresse" class="form-label">Adresse</label>
                            <input type="text" class="form-control" id="adresse" name="adresse" value="{{ form.adresse.value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="ville" class="form-label">Ville</label>
                            <input type="text" class="form-control" id="ville" name="ville" value="{{ form.ville.value }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="date_creation" class="form-label">Date de création</label>
                            <input type="date" class="form-control" id="date_creation" name="date_creation" value="{{ Fournisseur.date_creation|date:'d/m/y' }}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

   

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


{% endblock %}
